/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    color: #333;
}


/* Main Content Styles */
.main-content {
    padding: 20px;
    text-align: center;
}

h1, h2, head {
    color: #013927;
    margin-bottom: 15px;
}

.head {
    font-size: 2em;
    color: #013927;
}

/* Footer */
.footer {
    background-color: #013927;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}